{% extends 'system_rezerwacyjny/base.html' %}
{% block content %}
    <h1>Lista Sal</h1><br><br>

    <form action='' method='POST'>{% csrf_token %}
        <label>
            <input type="date" name="date" placeholder="rrrr-mm-dd"/><br/>
        </label><br>
        <input type='submit' name='sendBtn' value='Wyszukaj rezerwację'>
    </form><br>

    <table border="3" cellspacing="5" cellpadding="8" style="border-collapse: collapse">
         <p>{{ month }}</p>
        <thead>
            <th>Nr Sali</th>
            <th>Nazwa</th>
            <th>Ilość osób</th>
            <th>Czy jest projektor?</th>
            <th>Edytuj</th>
            <th>Usuń</th>
                {% if not form %}
            <th>Rezerwacja</th>
                {%  endif %}
                {% if form %}
                    {% load poll_extras %}
            <th>Status sali dla daty {{room.id|date:date}}</th>
                {%  endif %}
        </thead>
        <tbody>
            {% for room in rooms %}
            <tr>
                <td>{{room.pk}}</td>
                <td><a href="{% url 'single_room' id=room.pk %}">{{room.name}}</a></td>
                <td>{{room.capacity}}</td>
                <td>{{ room.is_projector|yesno:"Tak,Nie" }}</td>
                <td><a href="{% url 'modify_room' id=room.pk %}">Edytuj</a></td>
                <td><a href="{% url 'delete_room' id=room.pk %}">Usuń</a></td>
                {% if not form %}
                    {% now "n" as current_month %}
                     {% now "Y" as current_year %}
                    {% now "j" as current_day %}
                    <td><a href="{% url 'reservation' id=room.pk day=current_day month=current_month year=current_year   %}">Zarezerwuj</a></td>
                {% endif %}
                    {% if form %}
                        {% load poll_extras %}
                <td>{{room.id|reserve:date}}</td>
                    {%  endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}